S3_ENDPOINT_URL=http://localhost:9000
S3_ACCESS_KEY=admin
S3_SECRET_KEY=admin12345
S3_BUCKET=smart-campus-data-lake
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=campus_student_events
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
